:focus-visible{
  outline: none;
}

*{
  font-family: 'Chiron GoRound TC','microsoft jhenghei',-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  outline: none!important;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  @include pad{
    font-size: 15px;
  }
  @include phone{
    font-size: 14px;
  }
  @include mini{
    font-size: 13px;
  }
}


.container
{
  max-width: 800px;
}

.fs-small
{
  font-size: rem(12);
}