// init
$main: #1a1a1a;
$hover: #656565;
$border: #dddddd;
$black: #1A1A1A;
$white: #ffffff;
$red: #ef476f;
$gray: #A1A1A1;
// action
$btn_bg: #118ab2;
$btn_color: #ffffff;
// other
$text: #1A1A1A;
$link: #118ab2;
$special: #ffd166;
$message: #06d6a0;
$send: #06d6a0;
$success: #06d6a0;
$error: #ef476f;
$info: #118ab2;
$title: #118ab2;
$background: #f5f5f5;
$box_shadow: 2px 2px 4px #ddd;